<h1>Stupid coaching</h1>
<p>Ask your coach a new question</p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
<br>
<br>
